* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(22, 83, 164);
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1310px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.logo {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  background-image: linear-gradient(
    115deg,
    rgb(235, 247, 243),
    rgb(249, 251, 253)
  );
  padding: 3rem;
  border-top: 4px solid var(--primary);
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  color: black;
}

.main > div {
  padding-bottom: 120px;
}

h2:not(:first-child) {
  padding-top: 300px;
}

p {
  font-weight: 500;
  line-height: 2rem;
}

h2 + p {
  padding-bottom: 50px;
  max-width: calc(100% - 350px);
}

a {
  color: var(--primary);
}

ul + p {
  color: var(--primary);
  font-weight: 400;
  padding-left: 40px;
  max-width: calc(100% - 350px);
}

li {
  max-width: calc(100% - 350px);
  list-style-type: square;
  margin-bottom: 10px;
}

.links__outer,
.links__inner {
  display: flex;
  align-items: flex-start;
  padding-top: 2rem;
}

.links__inner {
  justify-content: space-around;
  text-align: center;
  color: var(--primary);
  font-size: 0.7rem;
  text-decoration: underline;
  padding-top: 5rem;
}

li::marker {
  color: var(--primary);
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

br {
  display: block;
  margin: 22px 0;
  content: " ";
}

.button {
  border: 3px solid;
  border-radius: 10px;
  background-color: var(--primary);
  margin: 100px 30px 0px 100px;
  padding: 20px;
  color: rgb(235, 247, 243);
  font-size: large;
}

.button__none {
  visibility: hidden;
}

.links__inner--box {
  padding: 2rem;
}

.links__outer--right {
  flex-basis: 15%;
  padding: 20px 0px 20px 20px;
}

.links__outer--left img {
  height: 170px;
}

.links__outer--right img {
  height: 50px;
}

.arrow__image {
  height: 35px;
}

.alzak__picture,
.image__section1,
.image__section2,
.image__section3,
.image__section4 {
  position: absolute;
  right: 0%;
}

.alzak__picture {
  top: 1%;
  display: flex;
  align-items: center;
}

.image__section1 {
  top: 24%;
}

.image__section2 {
  top: 43%;
}

.image__section3 {
  top: 62%;
}

.image__section4 {
  top: 79%;
}

.alzak__picture p {
  width: 90px;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: right;
  transform: rotate(12deg);
  padding-bottom: 0;
}

.alzak-hand__image {
  width: 350px;
}

@media only screen and (max-width: 900px) {
  .links__inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .alzak__picture {
    display: inline-block;
  }

  .alzak-hand__image,
  .alzak__picture {
    position: relative;
    margin: 40px 40px 0px 60px;
  }

  .alzak__picture--left {
    position: absolute;
    right: -20%;
    top: -45%;
  }

  .links__inner {
    padding-top: 0px;
  }

  h2 + p,
  ul + p,
  li {
    padding-bottom: 30px;
    max-width: 900px;
  }

  .button {
    margin: 50px 100px 0px 100px;
  }

  .main > div {
    padding-bottom: 60px;
  }

  .button__none {
    display: none;
  }
}

@media only screen and (min-width: 325px) and (max-width: 550px) {
  body {
    font-size: 1.5rem;
  }

  .links__inner {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
  }
}
